@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
  --color1: #B6F2BC;
  --color2: #62D96D;
  --color3: #4FB059;
  --color4: #46994F;
  --color5: #2E6634;
}

*{
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}

html, body{
  background-color: var(--color1);
}

header{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 10rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  background-image: linear-gradient(var(--color5), var(--color1));
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.267);
}

header .container-texto-cabecalho{
  color: white;
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px black;
}

.container-texto-cabecalho div{
  padding: 1rem;
}

h1, h2, p{
  font-family: 'Ubuntu', sans-serif;
}

nav{
  display: flex;
}

nav li{
  list-style-type: none;
}

nav{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

nav li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  color: var(--color5);
}

a:hover{
  color: var(--color1);
}

section{
  display: flex;
  align-items: center;
}

section > div > p{
  margin: 13rem;
}

.secao1{
  background-color: var(--color3);
}

.secao1 div{
  padding-top: 10rem;
}

.quem-somos{
  justify-content: space-between;
  background-color: var(--color5);
}

.quem-somos h2{
  margin-left: 2rem;
}

.quem-somos aside{
  background-color: var(--color1);
  height: 50rem;
  width: 29rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.professores{
  justify-content: center;
  background-color: var(--color3);
  height: 50rem;
}

.atividades{
  justify-content: center;
  background-color: var(--color5);
  height: 50rem;
}

.fotos{
  justify-content: center;
  background-color: var(--color3);
  height: 50rem;
}

.fale-conosco{
  background-color: var(--color5);
  height: 50rem;
  flex-direction: column;
}

.fale-conosco h2{
  padding-top: 18rem;
  margin-bottom: .5rem;
  color: white;
}

.fale-conosco > form textarea{
  width: 30rem;
  height: 10rem;
  padding: .5rem;
}

footer{
  background-color: var(--color4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container-logo-endereco{
  width: 50rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container-desenvolvido-por{
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .container-endereco{
  line-height: 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--color1);
}

.container-endereco .material-symbols-outlined{
  font-size: 3rem;
}

footer > .container-desenvolvido-por > p{
  color: white;
}

footer > .container-desenvolvido-por > p > a{
  text-decoration: none;
  color: var(--color1);
}