body{
  height: 100vh;
}

main h1{
  text-align: center;
  padding: 2rem;
}

main h1, main p{
  color: var(--color5);
}

main p{
  font-weight: bolder;
}

main div{
  max-width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

main .texto{
  width: 45%;
}

main .imagem{
  background-image: url('#');
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 15rem;
}